/* 
  body{
    overflow-y: scroll;
  }
*/

@media screen and (max-width : 600px) {

.react-chatbot-kit-chat-container {
  /* overflow-x: hidden;
      overflow: hidden; 
  */
  /* width: 500px;
      float: right;
      margin-right: 10%; 
  */
  width: 300px;
  color: #002E6B;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  height: auto;
  overflow: hidden;
  /* position:fixed; */
}  

}

@media screen and (min-width : 600px) {
    
  .react-chatbot-kit-chat-container {
    /* overflow-x: hidden;
    overflow: hidden; */
    /* width: 500px;
    float: right;
    margin-right: 10%; */
    width: 350px;
    color: #002E6B;
    border: 2px solid #d8d8d8;
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    /* position:fixed; */
  }  

}

  

   
.react-chatbot-kit-chat-inner-container {
  overflow: hidden;
  /* color: #002E6B; */
  height: auto;

}

button{
  border-image: none;
  border-style: solid;
}


.react-chatbot-kit-chat-input-container {
  background-color: #002E6B;

}


.react-chatbot-kit-chat-input {
  /* pointer-events: none; */
  display: none;
}


.react-chatbot-kit-chat-btn-send {
  /* background-color: #002E6B; */
  display: none;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #003D8C;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  /* width: 184.5px; */
  margin-left: 10px;
  /* text-align: left; */
}

.option-button:hover{
 margin: 5px;
border-radius: 25px;
padding: 8px;
border-color:#003D8C;
 background: transparent;
 text-align: center;
  border-style: solid;
  color: #fff;
  background-color: #003D8C;
  }

.react-chatbot-kit-chat-bot-message-arrow {
  
  border-right: 8px solid #002E6B;
}

.app-chatbot-button:hover {
  transform: scale(1.1);
}
.app-chatbot-button {
  width: 60px;
  height: 60px;
  float: right;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  background-color: #002E6B;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 9999;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.0s ease-in-out;
}
.app-chatbot-button-icon {
  fill: #fff;
}

.app-button-bot{
    float: right;
}
