.react-chatbot-kit-chat-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #002E6B;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  overflow: hidden;
}

.react-chatbot-kit-chat-inner-container {
  color: #002E6B;
  overflow: hidden;
}

button{
  border-image: none;
  border-style: solid;
}
.react-chatbot-kit-chat-header {
  color:#fff;
  font-style: normal;
  font-size: 18px;
  background-color: #002E6B;
  font-weight: bold;
  padding: 24px;
}

.react-chatbot-kit-chat-input-container {

}

.react-chatbot-kit-chat-message-container {
  bottom: 0px;
  overflow-x: hidden;
}

.react-chatbot-kit-chat-input {

}

.react-chatbot-kit-chat-input-form {
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-top : 2px solid #d8d8d8;
  border-radius: 2px;
  display: none;
}

.react-chatbot-kit-chat-input::placeholder {
  
}

.react-chatbot-kit-chat-btn-send {
  background-color: #002E6B;
}

.react-chatbot-kit-chat-btn-send-icon {
  
}

.react-chatbot-kit-chat-bot-message-container {

}

.react-chatbot-kit-chat-bot-avatar-container {

}

.react-chatbot-kit-chat-bot-avatar-icon {
  
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {
  background-color: #002E6B;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #fff;
  font-weight: medium;
  position: relative;
  width: 184.5px;
  margin-left: 10px;
  text-align: left;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #002E6B;
}

.react-chatbot-kit-chat-bot-loading-icon-container {
  
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {

}

.react-chatbot-kit-error-docs {
}

.app-chatbot-button:hover {
  transform: scale(1.1);
}
.app-chatbot-button {
  width: 60px;
  height: 60px;
  float: right;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  background-color: #002E6B;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 9999;
  right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s ease-in-out;
}
.app-chatbot-button-icon {
  fill: #fff;
}

.app-button-bot{
    float: right;
}

.app-chatbot-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 55px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
  border-radius: 5px;
}